* @dennydkt

/LICENSE @dennydkt
/LICENSES/ @dennydkt
/NOTICE.md @dennydkt
/ATTRIBUTION.md @dennydkt
/PROVENANCE.md @dennydkt
/TRADEMARKS.md @dennydkt
/THIRD_PARTY_NOTICES.md @dennydkt
/.github/ @dennydkt
